.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
	background: url("../images/bg.jpg") no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
	padding-top: 20px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
a:hover {
text-decoration: none;
}
/* Make the masthead heading the same height as the navigation */
.header h3 a{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
	font-size: 18px;
	color: #fff;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
	text-align: center;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
	background: rgba(255,255,255,0.8);
	padding-bottom: 5px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.nav-pills  li a{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: #f8f8f8;
	color:#555;
}
.nav-pills > li.active > a{
	background-color: #555;
	color: #fff; 
}
.nav-pills  li a:hover{
	background: #f8f8f8;
	color:#555;
	opacity: 0.8;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Styling events table */
.events {
	display: table;
	font-size: 10pt;
	width: 100%;
	text-align: left;
}

.events .event.header {
	font-weight: bold;
}

.events .event {
	display: table-row;
}

.events .event > div {
	display: table-cell;
}

.events .event div:nth-child(1) {
	width: 25%;
}

.add{
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	margin-top: 20px;
}

.title{
	text-align: left;
	font-size: 12pt;
	margin-bottom: 20px;
	font-weight: bold;
}

/* stylizuj grupy */
.groups{
	font-size: 10pt;
}

.groups .gname{
	font-weight: bold;
}

/* stylizuj formularz */
form.nowe {
	font-size: 10pt;
	text-align: left;
}

form.nowe input{
	height: 21pt;
}

form.nowe textarea{
	width: 400px;
}

form.nowe input, form.nowe textarea{
	display: block;
	width: 200px;
	margin: 5px;
	font-size: 10pt;
}